.header {
    background-color: #2c3b45;
    color: #fff;
    padding-top: 30px;
}

.menu {}

.logo {
    display: inline-block;
    line-height: 0;
    margin-right: 200px;
}

.nav {
    display: inline-block;
    margin-right: 211px;
    transform: translateY(-30px);
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

.nav-list {
    background: #404f59;
    padding: 20px 40px;
    border-radius: 0 0 10px 10px;
}

.header__nav-list {}

.nav__item {
    display: inline-block;
    margin-right: 30px;
}

.nav__item:last-child {
    margin-right: 0px;
}

.nav-link {}

.phone {
    display: inline-block;
}

.header__phone {}

.phone__link {}